@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@400;500;700&display=swap');

@import 'mixins';

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: #333333;

  &--margin {
    margin-bottom: 100px;

    @include onTab {
      margin-bottom: 200px;
    }
  }
}

.wrapper {
  padding: 0 10px;

  @include onSmallDesktop {
    padding: 0 52px;
  }

  &--content {
    padding: 0 10px;

    @include onBigDesktop {
      padding: 0 165px;
    }
  }
}

.header {
  &__content {
    padding-top: 10px;

    @include onTab {
      padding-top: 52px;
    }
  }

  &__margin {
    padding-left: 40px;

    @include onTab {
      padding-left: 17%;
    }
  }

  &__question {
    margin: 0;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 12px;

    color: #2d9cdb;

    @include onPhone {
      font-size: 15px;
    }

    @include onTab {
      font-size: 18px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 42px;

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    @include onPhone {
      font-size: 36px;
      line-height: 54px;
    }

    @include onTab {
      font-size: 48px;
      line-height: 72px;
    }
  }

  &__text {
    display: block;
    max-width: 370px;
    width: 100%;

    margin-bottom: 42px;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #4f4f4f;
  }

  &__block-img {
    display: flex;
    justify-content: center;

    margin-bottom: 42px;
  }

  &__img {
    width: 100%;
    object-fit: cover;

    border-radius: 18px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;

  margin-bottom: 48px;

  @include onTab {
    margin-bottom: 100px;
  }

  &__list {
    display: flex;
    list-style: none;
    column-gap: 20px;

    @include onDesktop {
      column-gap: 40px;
    }
  }

  // &__item {}

  &__link {
    font-weight: 500;
    font-size: 18px;

    text-decoration: none;
    color: #333333;

    cursor: pointer;

    @include onTab {
      font-size: 20px;
    }

    @include onDesktop {
      font-size: 24px;
    }
  }
}

.logo {
  display: block;

  font-family: 'Heebo';
  font-weight: 800;
  font-size: 36px;
  text-decoration: none;

  color: #333333;

  &--footer {
    color: #fff;
    margin-bottom: 8px;
  }
}

.search {
  &__title {
    margin: 0;
    margin-bottom: 9px;

    font-size: 14px;
    line-height: 21px;

    color: #828282;
  }
}

.input {
  max-width: 350px;
  position: relative;

  margin-right: 40px;

  @include onPhone {
    margin-right: 0;
  }

  &__field {
    width: 100%;
    height: 55px;
    padding-left: 20px;

    font-size: 18px;

    background-color: #f2f2f2;
    border-radius: 12px;

    border: none;

    &::placeholder {
      font-weight: 500;
      font-size: 18px;

      color: #bdbdbd;
    }
  }

  &__button {
    position: absolute;
    top: 4px;
    right: -20px;
    width: 90px;
    height: 50px;

    background-color: #2d9cdb;
    border-radius: 12px;

    border: none;

    cursor: pointer;

    font-weight: 500;
    font-size: 18px;

    color: #f2f2f2;
  }
}

.content {
  &__title {
    margin: 0;
    margin-bottom: 42px;

    font-weight: 500;
    font-size: 36px;
    line-height: 54px;

    padding-left: 40px;

    @include onSmallDesktop {
      padding-left: 0;
    }
  }
}

.services {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include onBigPhone {
      flex-direction: row;
    }
  }

  &__block {
    box-sizing: border-box;
    max-width: 340px;
    width: 100%;

    padding: 46px 34px;

    &:hover {
      background: #ffffff;
      box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
      border-radius: 24px;

      cursor: pointer;
    }

    &:hover .services__block__button {
      color: #fff;
      background-color: #2d9cdb;
    }

    &__title {
      margin: 0;
      margin-bottom: 24px;

      font-weight: 700;
      font-size: 24px;
    }

    &__text {
      margin: 0;
      margin-bottom: 30px;

      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: #4f4f4f;
    }

    &__button {
      padding: 10px 12px;

      background-color: #e0e0e0;
      border-radius: 12px;
      border: none;

      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      color: #828282;

      cursor: pointer;
    }
  }

  &__block-icon {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    margin-bottom: 35px;

    border-radius: 16px;

    &--first {
      background-color: #2d9cdb;
    }
    &--second {
      background-color: #27ae60;
    }
    &--third {
      background-color: #eb5757;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(7449%) hue-rotate(256deg) brightness(114%)
      contrast(100%);
  }
}

.out-works {
  position: relative;

  &__works {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;

    @include onPhone {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 0;
    }
  }

  &__block {
    &:hover {
      opacity: 0.6;

      cursor: pointer;
    }

    &--margin {
      // margin-top: 120px;

      @include onPhone {
        margin-top: 120px;
      }
    }

    &--last {
      // margin-bottom: 120px;

      @include onPhone {
        margin-bottom: 120px;
      }
    }
  }

  &__img {
    max-width: 550px;
    width: 100%;
    border-radius: 24px;

    margin-bottom: 20px;
  }

  &__subtitle {
    margin: 0;

    font-weight: 300;
    font-size: 14px;
    line-height: 21px;

    color: #828282;
  }

  &__title {
    margin: 0;

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }

  &__button {
    // position: absolute;
    // right: 0;
    // bottom: 0;

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #2d9cdb;

    border: none;
    background-color: transparent;

    cursor: pointer;

    @include onPhone {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.clients {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include onBigPhone {
    flex-direction: row;
    column-gap: 50px;
  }

  &__info {
    width: 280px;
  }

  &__title {
    margin: 0;
    padding-left: 0;
    margin-bottom: 14px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 7px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: #eb5757;
  }

  &__block-img {
    align-self: center;
    max-width: 370px;
    width: 100%;
    display: flex;

    @include onTab {
      max-width: 450px;
    }

    @include onSmallDesktop {
      max-width: 600px;
      width: 100%;
    }
  }

  &__img {
    max-width: 300px;
    width: 100%;
    border-radius: 24px;

    &--first {
      margin-top: 80px;
      margin-right: 12px;

      @include onTab {
        margin-top: 130px;
        margin-right: 24px;
      }
    }

    &--second {
      max-width: 260px;
      width: 100%;

      margin-bottom: 12px;

      @include onTab {
        margin-bottom: 24px;
      }
    }
  }
}

.quote {
  &__title {
    max-width: 900px;
    padding-left: 0;
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 36px;

    @include onTab {
      font-size: 36px;
      line-height: 54px;

      margin-bottom: 50px;
    }
  }

  &__img-block {
    max-width: 90px;

    margin-right: 30px;
  }

  &__img {
    width: 100%;
    border-radius: 10px;
  }

  &__author {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__name {
    margin: 0;

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }

  &__position {
    margin: 0;

    font-weight: 500;
    font-size: 18px;

    color: #828282;
  }
}

.footer {
  background-color: #100e1d;

  &__body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 64px;

    padding-top: 36px;
    padding-left: 40px;
    padding-bottom: 160px;

    @include onBigPhone {
      flex-direction: row;
      column-gap: 80px;

      padding-top: 46px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    color: #ffffff;
    text-decoration: none;
  }

  &__social {
    display: flex;
    column-gap: 12px;
  }

  &--input {
    max-width: 350px;
    width: 100%;
  }

  &__question {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #f2f2f2;
  }
}
